.miniCalendar{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.miniCalendar__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.miniCalendar__date{
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}
.miniCalendar__controls{
    display: flex;
    gap: 0.125rem;
}
.miniCalendar__content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.miniCalendar__dayOfWeekList{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 0.25rem;
}
.miniCalendar__dayOfWeek{
    text-align: center;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: 500;
}
.miniCalendar__dayList{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 0.25rem;
}

.miniCalendar__dayListItem {
    text-align: center;
}
button.miniCalendar__day{
    width: 100%;
    border: 1px solid transparent;
}
button.dayListItem__isToday {
    border-color: var(--color-blue-600);
}
button.dayListItem__isOtherMonth{
    color: var(--color-gray-500);
}

